*{
	background-color:#80e680;
	text-align: left;
}
#errors{
color:red;
text-align: center;
}

#remarks{
border-style: solid double;
margin-right: 25%;
margin-left: 10%;

}
#frmRegister{
margin-left: 33%;
margin-right: 33%;

}

/* Hashtag yoloswag*/

/* MAke it like the UDS website with a waffle and a cherry on top for the banner.
Orange background


rainbows for scale

*/
