*{
	font-size: 12pt;
	font-family: "Times New Roman";
}

body{
	background: #E09D31;
	margin-left: 25%;
	margin-right: 25%;
}

/**                                                                                             **/
/**                                 Naviagtion Section                                          **/
/**                                                                                             **/


nav{
    margin:auto;
}
nav ol {
    text-align: center;
}

nav ol li{
    display: inline;
    list-style-type: none;
    margin-right: 12%;
}

nav ol li a{
    border-style: outset;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    background-color: aliceblue;
    font-weight: bold;
    border-color: brown;
}

.activePage{
    display: inline;
    list-style-type: none;
    padding-right: 12%;
    border-style: inset;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    background-color: darkgrey;
    font-weight: bold;
}

nav ol li a:link { /* unvisited link */
    color:black;
}      
nav ol li a:visited {  /* visited link */
    border-color:darkgreen;
    border-style: inset;
    color: black;
} 
nav ol li a:hover { /* mouse over link */
    color:black;
    background-color: darkgrey;
    border-style: inset;
}  

/** END OF NAV **/


#errors{
color:red;
text-align: center;
}

#remarks{
border-style: solid double;
padding: .5em;
margin-right: 25%;
margin-left: 10%;

}
/*
#frmRegister{
margin-left: 33%;
margin-right: 33%;

}
*/
.review{
border-style: solid dashed solid dashed;
background-color: #5ca028;
padding-left: 3em;
padding-right: 3em;
padding-bottom: 2em;

}
.wrapper{
background-color:#5ca028;

}
.pic{
height: 40%;
width: 50%;
}


/* Rainbow scaling */
 .rainbow{
border-style: solid;
border-bottom-width: 0px;
border-top-width:0px;
width:100px;

}
.rainbow00{


width: 0px;
}
.rainbow05{


width: 10px;
}

.rainbow10{

width: 20px;
}

.rainbow15{

width: 30px;
}

.rainbow20{

width: 40px;
}
.rainbow25{

width: 50px;
}

.rainbow30{

width: 60px;
}

.rainbow35{

width: 70px;
}

.rainbow40{

width: 80px;
}

.rainbow45{

width: 90px;
}

.rainbow50{

width: 100px;
}

