*{
	font-size: 12pt;
	font-style: "Times New Roman";
}

body{
	background: #E09D31;
}
#errors{
color:red;
text-align: center;
}

#remarks{
border-style: solid double;
margin-right: 25%;
margin-left: 10%;

}
#frmRegister{
margin-left: 33%;
margin-right: 33%;

}

/* Hashtag yoloswag*/

/* MAke it like the UDS website with a waffle and a cherry on top for the banner.
Orange background


rainbows for scale

*/
